<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style> 
    body{
        background-color: #121212;
        color: white;
    }
</style>
<body>
    @*! you are linking to you r model directly  *@
    @model survey_model.Models.info 
    @*! helps you with the asp tag  and does the logit for it   *@
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


    
    <form action="/result" method="post">
    <div>
@** name="" chage to asp-for="" tag helper does the loggic for you   *@
    <label asp-for="Name">Name</label>
    <input type="text"  asp-for="Name" id="">
    @*<span asp-validation-for ="Name" ></span>     show the validation message if input does not met requirements*@
        <span asp-validation-for ="Name" ></span>
    </div>
    <div>
        <label asp-for="Location">Location</label>
    <select asp-for = "Location" id="">
        <option value="new york">new york</option>
        <option value="seattle">seattle</option>
        <option value="chicago">chicago</option>
        <option value="california">california</option>
    </select>
            <span asp-validation-for ="Location" ></span>
    </div>
    <div>
        <label asp-for="Language">Language</label>
        <select asp-for="Language" id="">
        <option value="python">Python</option>
        <option value="c#">c#</option>
        <option value="java">java</option>
        <option value="javascript">javascript</option>
    </select>
                <span asp-validation-for ="Language" ></span>
    </div>
    <div>
        <label asp-for="Comment">comment(optional)</label>
    </div>
    <div>
            <textarea asp-for="Comment" id="" cols="30" rows="10"></textarea>
                    <span asp-validation-for ="Comment" ></span>
    </div>
    <input type="submit">

    </form>

</body>
</html>

@* @{
    string a = "hello world";
    <p>@a </p>
    List<int> ints = new List<int>(){1,2,4,5,6,7};
        foreach (int item in ints)
        {
            <p>@item</p>
        }
}

<a href="/result">go</a> *@